---
import fm from 'front-matter';

interface Props {
    key: string;
}

const { key } = Astro.props
const entry = await Astro.locals.runtime.env.BUCKET.get(`entries/${key}`)

if (!entry) {
    return null
}

const text = await entry.text()

const { attributes } = fm<{ title: string; description: string }>(text);

---

<a transition:name="title" class="flex flex-col p-4 border-l-8 hover:border-l-green-800 transition w-full" href={`/entries/${key}`}>
    <span class="text-5xl">{attributes.title}</span>
    <span>{attributes.description}</span>
</a>
