---
import { SITE_TITLE } from "../consts";
---

<header class="h-16 shadow-sm px-3 shrink-0">
  <nav class="h-full flex items-center">
    <h2 class="text-4xl"><a href="/">{SITE_TITLE}</a></h2>
  </nav>
</header>
